@import url(Mainpage.css);

.row{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    position: relative;
}
.column{
    border: 2px solid;
    text-align: center;
    display: inline-block;
    height: 500px;
    margin: 10px;
        
}